*{
	margin: 0;
	padding:0;
}

.wrapper{
	width: 1200px;
	margin: 0 auto;
}

.header{
	background-image:
	linear-gradient(
		rgba(0,0,0,.5),
		rgba(0,0,0,.5)
		), url("slide-3.jpg"); 
	height: 800px;
	display: block;
	background-size: 100%; 
	color: #fff;
} 

							/*TOP HEADER*/
.top{
	padding-left: 50px;
	padding-top: 25px;
}

.top ul{
	padding-left: 50px;
	padding-top: 25px;

}

.top .section{
	display: inline-block;
	font-family: 'Nunito', sans-serif;
}

.top li{
	display: inline-block;
}

.section h1,
.section li{
	font-size: 15px;
}

.section .nav{
	padding-left: 330px;
	word-spacing: 15px;
}

.nav li:nth-child(2),
.nav li:last-child{
	word-spacing: normal;
}

							/*LOGO*/
.logo{
	text-align: center;
	padding-top: 75px;
}

/*.logo img{
	max-width:50%;
	max-height:50%;
}*/

					/*DESCRIPTION*/
.description{
	font-family: 'Nunito Sans', sans-serif;
	text-align: center;
	margin-top: 50px;
}

.description h1{
	font-weight: 800;
}

.description p{
	font-weight: lighter;
	margin-top: 10px;
	column-span: all;
}

			/*ABOUT*/
.about{
	padding-top: 95px;
	padding-left: 150px;
	height: 750px;
	border-right: 520px solid #F0BA72;	
}

.information{
	font-family: 'Nunito Sans', sans-serif;	
	vertical-align: top;
	display: inline-block;
	margin-right:50px; 
	padding-top: 80px;
	width: 550px;
	height:550px;
}

.information h1{
	margin-bottom: 15px;
}

.information p{
	padding-bottom:20px;
	color: #787878;
}

.about-image{
	display: inline-block;
	width: 50px;
	height: 50px;
}

.about-image img{
	border:1px #fff solid;
	padding:10px 10px 10px 0px;
	width: 580px;
	height: 580px;
}
						/*SERVICES*/
						/*BOXES*/
.box{
	font-size: 15px;
}

.services.wrapper h1{
	padding-top: 70px;
	padding-bottom: 40px;
}

.services h1{
	font-family: 'Nunito Sans', sans-serif;
}
.box li{
	text-decoration: none !important;
	vertical-align: top;
	display: inline-block;
	padding-right: 30px;
	padding-bottom: 30px;

}
.box span{
	padding-top: 125px;
	padding-left: 60px;
	position: absolute;
}

.box img{
	width: 365px;
	height: 245px;
}

.box li{


}


/*CONTACT US*/
.contact{
	border-left: 525px solid #F0BA72;
	height: 560px;
	margin:0 auto;
}
.column{
	width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*FOOTERS*/
.footer-top h1{
	font-family: 'Nunito Sans', sans-serif;
	padding-top: 40px;
	text-align: center;
	font-size: 15px;
	color: #fff;
}
.footer-top{
	height: 100px;
	background-color:#D8263E;
}

.footer-bottom{
	background-color: #363638;
	height: 200px;
}


.footer-bottom .pic{
	vertical-align: middle;
	display: inline-block;
	vertical-align: top;
	padding-right: 7px;
}

.footer-bottom .mage{
	border-radius: 50%;
	width:70px;
	height: 70px;
}

.footer-bottom p{
	vertical-align: top;
	display: inline-block;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	font-size: 12px;
	color: #787878;
}

.footer-bottom h1{
	position: relative;
	font-size: 10px;
	color: #fff;
	font-family: 'Nunito', sans-serif;	
}

.bottom{
	margin-left: 500px;
	padding-top: 66px;
}

.section .nav{
	display: inline-block;
	font-family: 'Nunito', sans-serif;
}