*{
	margin: 0;
	padding:0;
}

.wrapper{
	width: 1200px;
	margin: 0 auto;
}

.lines{
	display: inline-block;
	height: 50px;
	width: 90px;
	border-left: 1px #fff solid;
	border-right: 1px #fff solid;
	margin-right: 10px;
}
#left-line{
		margin-left: 610px;
}

#right-line{
	margin-left: 80px;
}
.header{
	background-image:
	linear-gradient(
		rgba(47,47,47,.9),
		rgba(47,47,47,.9)
		), url("slide-3.jpg"); 
	height: 800px;
	display: block;
	background-size: 100%; 
	color: #fff;
} 

							/*TOP HEADER*/
.top{
	padding-left: 50px;
	padding-top: 25px;
}

.top ul{
	padding-left: 50px;

}

.top .section{
	display: inline-block;
	font-family: 'Nunito', sans-serif;
}

.top li{
	display: inline-block;
}

.section h1,
.section li{
	font-size: 15px;
}

.section .nav{
	padding-left: 330px;
	word-spacing: 15px;
	font-weight: 700;
}

.section .social{
	padding-left: 450px;
}

.social li{
	padding-right: 10px;
}

.nav li:nth-child(2),
.nav li:last-child{
	word-spacing: normal;
}

							/*LOGO*/
.logo{
	text-align: center;
	padding-top: 75px;
}

					/*DESCRIPTION*/
.description{
	font-family: 'Nunito Sans', sans-serif;
	text-align: center;
	margin-top: 50px;
}

.description h1{
	font-weight: 800;
}

.description p{
	font-weight: lighter;
	margin-top: 10px;
	column-span: all;
	color: #c6c6c6;
}

#middle-line{
	border-right: none;
	margin-left: 750px;
	margin-top: 10px;
}
.icoon{
	margin-top: 10px;
	margin-left: 737px;
}

#down-icon{
	display:normal;
	color: #c6c6c6;
}

#scroll{
	padding-right: 28px;
	margin-top: 15px;
	color: #c6c6c6;
	font-family: 'Nunito Sans', sans-serif;
	text-align: center;
	font-size: 12px;

}

			/*ABOUT*/
.about{
	padding-top: 95px;
	padding-left: 150px;
	height: 750px;
	border-right: 520px solid #F0BA72;	
}

.information{
	font-family: 'Nunito Sans', sans-serif;	
	vertical-align: top;
	display: inline-block;
	margin-right:50px; 
	padding-top: 80px;
	width: 550px;
	height:550px;
}

.information h1{
	margin-bottom: 15px;
}

.information p{
	padding-bottom:20px;
	color: #787878;
}

.about-image{
	display: inline-block;
	width: 50px;
	height: 50px;
}

.about-image img{
	border:1px #fff solid;
	padding:10px 10px 10px 0px;
	width: 580px;
	height: 580px;
}
						/*SERVICES*/
				/*BOXES*/

li img{
	display: none;
}

#one{
	background-image:
	linear-gradient(
		rgba(47,47,47,.9),
		rgba(47,47,47,.9)
		), url("aluminum-composite-panel-signage.jpg"); 
	width: 365px;
	height: 240px;
}

#two{
	background:
	linear-gradient(
		rgba(47,47,47,.9),
		rgba(47,47,47,.9)
		),url("build-up-acrylic-signage.jpg");
	width: 365px;
	height: 240px;
}

#three{
	background:
	linear-gradient(
		rgba(47,47,47,.9),
		rgba(47,47,47,.9)
		),url("build-up-acrylic-and-stainless-signage.jpg");
	width: 365px;
	height: 240px;
}

#three span{
	margin-left: 10px;
}
#four{
	background-image:
	linear-gradient(
		rgba(47,47,47,.9),
		rgba(47,47,47,.9)
		), url("backwall-indoor-outdoor-directory-signage.jpg"); 
	width: 365px;
	height: 240px;
}

#five{
	background:
	linear-gradient(
		rgba(47,47,47,.9),
		rgba(47,47,47,.9)
		),url("adhesive-vinyl-on-flex-substrate-signage.jpg");
	width: 365px;
	height: 240px;
}

#six{
	background:
	linear-gradient(
		rgba(47,47,47,.9),
		rgba(47,47,47,.9)
		),url("frosted-signage-and-dividers.jpg");
	width: 365px;
	height: 240px;
}

#seven{
	background-image:
	linear-gradient(
		rgba(47,47,47,.9),
		rgba(47,47,47,.9)
		), url("led-signage-and-lighting-system.jpg"); 
	width: 365px;
	height: 240px;
}

#seven span{
	margin-left: 20px;
}

#eight{
	background:
	linear-gradient(
		rgba(47,47,47,.9),
		rgba(47,47,47,.9)
		),url("roof-top-signage.jpg");
	width: 365px;
	height: 240px;
}

#eight span{
	margin-left: 20px;
}
#nine{
	background:
	linear-gradient(
		rgba(47,47,47,.9),
		rgba(47,47,47,.9)
		),url("neon-fabricated-signage.jpg");
	width: 365px;
	height: 240px;
}

#nine span{
	margin-left: 25px;
}
#ten{
	background-image:
	linear-gradient(
		rgba(47,47,47,.9),
		rgba(47,47,47,.9)
		), url("monumental-signage.jpg"); 
	width: 365px;
	height: 240px;
}

#ten span{
	margin-left: 5px;
}

#evelen{
	background:
	linear-gradient(
		rgba(47,47,47,.9),
		rgba(47,47,47,.9)
		),url("indoor-outdoor-directory-signage.jpg");
	width: 365px;
	height: 240px;
}

#eleven span{
	padding-left:-40px;
}

		/*box*/
.box{
	font-size: 15px;
}

.services.wrapper h1{
	padding-top: 70px;
	padding-bottom: 40px;
}

.services h1{
	font-family: 'Nunito Sans', sans-serif;
}
.box li{
	text-decoration: none !important;
	vertical-align: top;
	display: inline-block;
	margin-right: 25px;
	margin-bottom: 25px;

}
.box span{
	padding-top: 100px;
	padding-left: 80px;
	position: absolute;
}

span{
	font-family: 'Nunito', sans-serif;
	color:#fff;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	vertical-align: middle;
}
/*CONTACT US*/

.contactt{
	margin-top: 95px;
	padding-left: 165px;
	top: 0px;
	height: 650px;
}

.background-box{
	position: absolute;
	width: 475px;
	height: 650px;
	background-color: #ffc04d;
    opacity: 0.8;
    left:0;
}


.contactt-image{
	display: inline-block;
	width: 500px;
	height: 550px;
	position: relative;

}
.contactt img{
	display: inline-block;
	border:1px #fff solid;
	padding:10px 0px 10px 10px;
	width: 580px;
	height: 580px;
}
.informatio{
	position: relative;
	font-family: 'Nunito Sans', sans-serif;	
	vertical-align: top;
	display: inline-block;
	margin-left:100px; 
	padding-top: 0px;
	width: 550px;
	height:550px;
}

.informatio h1{
	margin-bottom: 15px;
}

.informatio p{
	padding-bottom:20px;
	color: #787878;
}

		/*FORM PROPERTIES*/
li{
	list-style: none;

}
.forme li{
	display: inline-block;
	margin-top:15px;
}

.forme ul{
	margin-right:-18px;
}

label{
	color: #787878;
}

input{
	border:1px #ccc solid;
	height: 40px;
	width: 253.8px;
}

.forme li:first-child{
	margin-right:12px; 
}

.forme input:last-child{
	padding-right: 11.2px;
}

.message-box{
	margin-top: 10px;
}

textarea{
	margin-bottom: 10px;
	width:100%;
	height: 100px;
	overflow: auto;
	resize: none;
	border:1px #ccc solid;
}

button {
    color: #f7f7f7;
    background: #D8263E;
    text-decoration: none;
    padding: 15px 10px;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
}

#shaded{
	font-size: 13px;
	font-weight: 300;
	height: 50px;
	padding: 15px 0px 0px 15px;
	color:#fff;
	background-color: #c5c5c5;
}


/*FOOTERS*/
.footer-top h1{
	font-family: 'Nunito Sans', sans-serif;
	padding-top: 40px;
	text-align: center;
	font-size: 15px;
	color: #fff;
}
.footer-top{
	height: 100px;
	background-color:#D8263E;
}

.footer-bottom{
	background-color: #363638;
	height: 200px;
}


.footer-bottom .pic{
	vertical-align: middle;
	display: inline-block;
	vertical-align: top;
	padding-right: 7px;
}

.footer-bottom .mage{
	border-radius: 50%;
	width:70px;
	height: 70px;
}

.footer-bottom p{
	vertical-align: top;
	display: inline-block;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	font-size: 12px;
	color: #787878;
}

#footer-name{
	font-weight: 500;
	color: #fff;
	margin-top: 8px;
	font-size: 12px;
}

.bottom{
	margin-left: 500px;
	padding-top: 66px;
}

.end-footer{
	text-align: center;
	font-size: 11px;
	display: inline-flex;
	color: red;
	font-family: 'Nunito', sans-serif;
}

#right{
	margin-left: 659px;
}


#line{
	margin-top: 20px;
	margin-left: 300px;
	width: 900px;
	border-top:1px #787878 solid;
}

.lining p{
	margin-top: 10px;
}